.img-student{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius:inherit ;
}

.img-project{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius:inherit ;
}


.student-section img {
  width: 80%;
  height: auto !important;
  min-height: 300px !important;
  object-fit: cover;
}

@media (max-width: 921px) {
  .student-section img {
    width: 100% !important;
    max-width: 300px !important;
    max-height: 150px !important;
    object-fit: cover;
  }
}

@media (min-width: 921px) {
  .carousel__item {
    max-width: 350px !important;
    max-height: 200px !important;
    object-fit: cover;
  }
}

.carousel__item{
  user-select: none;
}

@media (max-width: 920px) {
  .carousel__item {
    max-width: 300px;
    max-height: 200px;
  }
}


@media (max-width: 800px) {
  .carousel__item {
    max-width: 250px;
    max-height: 170px;
  }
}
@media (max-width: 650px) {
  .carousel__item {
    max-width: 200px;
    max-height: 170px;
  }
}


@media (max-width: 530px) {
  .carousel__item {
    max-width: 150px;
    max-height: 170px;
  }
}


@media (max-width: 400px) {
  .carousel__item {
    max-width: 100px;
    max-height: 140px;
  }
  .carousel__list{
    height: 120px;
  }
}
